# Node modules & dependencies
node_modules/

# Python cache & virtual environment
sentimentenv/
__pycache__/
venv/
env/

# Logs
*.log

# Model files
*.pkl

# Environment variables
.env

# OS and editor files
.vscode/
.DS_Store